.profile__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .profile__heading {
    margin-bottom: 0;
    align-items: flex-start;
    padding-left: 30px;
  }
}
