.places {
  width: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  padding-inline: 19px;
  padding-top: 16px;
  padding-bottom: 24px;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .places {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: clamp(19px, 8vw, 200px);
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding-inline: clamp(19px, 16vw, 200px);
    padding-bottom: 33px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    grid-template-columns: repeat(3, minmax(282px, 1fr));
    padding-inline: clamp(19px, 16vw, 200px);
    padding-bottom: 33px;
  }
}
