.places {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .places {
    padding-bottom: 33px;
  }
}
