.profile {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-bottom: 18px;
  padding-inline: 19px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .profile {
    padding-inline: clamp(19px, 8vw, 200px);
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-inline: clamp(19px, 16vw, 200px);
  }
}
