.profile__item-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
  border: solid 2px #fff;
  cursor: pointer;
  padding-block: 15px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

@media screen and (min-width: 1024px) {
  .profile__item-button {
    max-width: 150px;
  }
}

@media screen and (hover: hover) and (pointer: fine) {
  .profile__item-button:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
