.profile__item-heading-container {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  margin-bottom: 14px;
}

@media screen and (min-width: 1024px) {
  .profile__item-heading-container {
    margin-bottom: 16px;
  }
}
