.profile__heading-container {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  margin-bottom: 8px;
}

@media screen and (min-width: 1024px) {
  .profile__heading-container {
    margin-bottom: 10px;
    gap: 18px;
  }
}
