.profile__button-img {
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
}

@media screen and (min-width: 1024px) {
  .profile__button-img {
    min-width: 22px;
    max-width: 22px;
    min-height: 22px;
    max-height: 22px;
  }
}
