.profile__heading-subtitle {
  max-width: 250px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 500px) {
  .profile__heading-subtitle {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .profile__heading-subtitle {
    max-width: 580px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__heading-subtitle {
    max-width: 340px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
