.header__container {
  position: relative;
  width: 100%;
  max-width: 880px;
  display: flex;
  padding-inline: 27px;
  padding-bottom: 32px;
  box-sizing: border-box;
}

.header__container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #545454;
}

@media screen and (min-width: 1024px) {
  .header__container {
    padding-inline: 0;
    padding-bottom: 41px;
  }
}
