.profile__heading-edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 18px;
  min-width: 18px;
  min-height: 18px;
  max-height: 18px;
  padding-bottom: 6px;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

@media screen and (hover: hover) and (pointer: fine) {
  .profile__heading-edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

@media screen and (min-width: 1024px) {
  .profile__heading-edit-button {
    max-width: 24px;
    min-width: 24px;
    min-height: 24px;
    max-height: 24px;
    padding-bottom: 15px;
  }
}
